.modal-box {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 25%;
  padding: 15px 0;
  text-align: center;
}

.modal-content h4 {
  margin: 0;
  margin-bottom: 5px;
}

.modal-body input {
  width: 50%;
  margin-bottom: 5px;
}

.modal-btns {
  text-align: center;
}

.modal-content button {
  margin: 0 auto;
  text-decoration: none;
  border: none;
  color: white;
  margin-right: 5px;
}

.btn-save {
  background-color: #008cba;
}

.btn-cancel {
  background-color: grey;
}
