@media screen and (max-width: 768px) {
  .add-todo {
    margin-top: 10px;
  }
  .todo-text {
    font-size: 1.3rem !important;
  }
  .card-content {
    padding: 12px !important;
  }
}

.card-content {
  padding: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
